#gallery {
    margin: 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
  }
  
  #gallery img {
    border-radius: 12px;
    margin: 1rem;
    overflow: hidden;
    transition: ease-in-out 0.2s;
  }
  
  #gallery .image-wrapper {
    height: max-content;
    width: max-content;
  }
  
  #gallery .image-wrapper:hover {
    scale: 1.1;
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
